server:
  port: 8080

spring:
  main:
    allow-bean-definition-overriding: true

  application:
    name: sgtcc-api

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

  h2:
    console:
      enabled: true

  jackson:
    time-zone: UTC

  flyway:
    enabled: true
    baseline-on-migrate: true

# Logging
logging:
  level:
    org:
    springframework: INFO

# JWT
jwt:
  secret: "auth-api"

documentation:
  swagger:
    enabled: true
